@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: 600;
}

/* line 2, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

/* line 9, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group {
  position: relative;
}

/* line 11, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input {
  display: block;
  margin: 10px 0;
  background-color: transparent;
  padding: 10px 5px;
  width: 98%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #9E9E9E;
  color: transparent;
  font-size: 1em;
  font-weight: 600;
}

/* line 23, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input:focus-within ~ label, .input-group input:not(:placeholder-shown) ~ label {
  top: -15px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

/* line 30, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input:focus, .input-group input:not(:placeholder-shown) {
  color: var(--second-color);
}

/* line 33, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input::-webkit-input-placeholder {
  color: transparent;
}

/* line 36, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input:-moz-placeholder {
  color: transparent;
}

/* line 39, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input::-moz-placeholder {
  color: transparent;
}

/* line 42, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input:-ms-input-placeholder {
  color: transparent;
}

/* line 46, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group label {
  color: #9E9E9E;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 60, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group .bar {
  position: relative;
  display: block;
  width: 100%;
}

/* line 64, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group .bar::before {
  left: 50%;
}

/* line 67, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group .bar::after {
  right: 50%;
}

/* line 70, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group .bar::before, .input-group .bar::after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 10px;
  position: absolute;
  background: #000;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

/* line 81, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input:focus ~ .bar:before,
.input-group input:focus ~ .bar:after {
  width: 50%;
}

/* line 85, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/_input.scss */
.input-group input:not(:placeholder-shown) ~ .bar:before, .input-group input:not(:placeholder-shown) ~ .bar:after {
  width: 50%;
}

/* line 21, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
body {
  font-family: 'Gilroy', sans-serif;
}

/* line 25, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.Blocks {
  max-width: 1380px;
  margin: auto;
  padding: 0 15px;
  width: 100%;
  overflow-x: hidden;
}

/* line 33, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.w-100 {
  width: 100%;
}

/* line 37, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

/* line 45, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.align-items-center {
  align-items: center;
}

/* line 49, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.vam {
  vertical-align: middle;
}

/* line 52, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.vam-child > * {
  vertical-align: middle;
}

/* line 58, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.heading-middle {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
}

/* line 64, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.get-info {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background: #E0E0E0;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* line 74, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.get-info::after {
  content: '?';
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Circe', sans-serif;
}

/* line 82, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.get-info::before {
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  content: attr(data-cont);
  font-family: 'Circe', sans-serif;
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  padding: 16px 14px;
  font-size: 12px;
  width: 200px;
  background-color: #fff;
  transition: .3s;
  transform: translateX(-50%);
  box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.1);
}

/* line 101, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.get-info:hover::before {
  opacity: 1;
  pointer-events: all;
}

/* line 108, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-padding {
  padding-left: 65px;
  padding-right: 65px;
}

/* line 113, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-calc {
  border: 1px solid #E0E0E0;
  padding-top: 72px;
  padding-bottom: 72px;
  overflow: hidden;
}

/* line 118, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-calc__title {
  font-size: 22px;
  font-weight: bold;
}

/* line 122, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-calc__small-title {
  font-size: 18px;
}

/* line 125, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-calc__text-block {
  margin-bottom: 30px;
}

/* line 128, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-calc__text-col {
  flex: 0 0 auto;
  width: auto;
  margin-right: 60px;
}

/* line 133, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-calc__second-block {
  margin-top: 42px;
}

/* line 136, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-calc__checkbox {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 147, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-text-green {
  font-size: 22px;
  font-weight: bold;
  color: #56BB5A;
}

/* line 153, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-text-through {
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  font-size: 18px;
  color: #9E9E9E;
}

/* line 160, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-text-through::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background-color: #E2574C;
}

/* line 172, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.irs-grid-text:last-child {
  font-size: 20px;
}

/* line 176, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-theme-block {
  flex: 1;
  padding-right: 140px;
}

/* line 179, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-theme-block__input {
  position: relative;
  font-size: 18px;
  width: 100%;
}

/* line 186, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.can-delete .advert-delete-block {
  opacity: 1;
  pointer-events: all;
}

/* line 191, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-delete-block {
  flex-shrink: 1;
  font-weight: bold;
  font-size: 18px;
  color: #E2574C;
  opacity: 0;
  pointer-events: none;
  transition: .2s;
}

/* line 199, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-delete-block span {
  cursor: pointer;
}

/* line 204, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-city-block {
  position: relative;
  flex: 1;
}

/* line 207, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-city-block__in {
  position: relative;
  display: inline-block;
}

/* line 211, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-city-block__city {
  position: relative;
  cursor: pointer;
}

/* line 214, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-city-block__city::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='7px'><text x='0' y='3' fill='black' font-size='20'>.</text></svg>");
}

/* line 226, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup {
  z-index: 3;
  position: absolute;
  width: 640px;
  right: 0;
  top: calc(100% + 15px);
  background-color: #FFF;
  padding: 65px 72px;
  box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.2), 1px 0 7px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: .3s;
}

/* line 237, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup_hide {
  display: none;
}

/* line 240, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup_show {
  opacity: 1;
}

/* line 243, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__title {
  display: block;
  margin-bottom: 35px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

/* line 250, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__filter {
  border: 1px solid #E0E0E0;
  width: 100%;
  padding: 12px 21px;
  font-size: 18px;
}

/* line 256, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__cont {
  border: 1px solid #E0E0E0;
  border-top: 0;
  padding: 25px 27px;
  font-size: 18px;
  max-height: 400px;
  overflow: auto;
}

/* line 266, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__parent.show .advert-popup__arrow {
  transform: translateY(-50%) rotate(90deg);
}

/* line 272, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 22px;
}

/* line 277, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li > .advert-popup__arrow {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../img/cities-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: .3s;
}

/* line 293, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li span {
  display: block;
  cursor: default;
}

/* line 297, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li.advert-popup__parent + li {
  display: none;
}

/* line 300, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li > span {
  position: relative;
  padding-left: 26px;
}

/* line 303, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li > span::before, .advert-popup__ul li > span::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

/* line 310, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li > span::before {
  left: 0;
  border: 1px solid #E0E0E0;
  height: 16px;
  width: 16px;
}

/* line 316, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul li > span::after {
  left: 2px;
  height: 12px;
  width: 12px;
  background-color: #151515;
  opacity: 0;
  transition: .3s;
}

/* line 326, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul input[type=checkbox] {
  z-index: -1;
  position: absolute;
  opacity: 0;
  top: 0;
  left: -9999px;
}

/* line 333, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-popup__ul input[type=checkbox]:checked + span::after {
  opacity: 1;
}

/* line 341, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox {
  position: relative;
  padding-right: 23px;
  flex: 1;
  width: 100%;
}

/* line 346, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox:last-child {
  padding-right: 0;
}

/* line 349, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

/* line 353, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox input[type=checkbox]:checked ~ label {
  background-color: #6600CC;
  color: #FFFFFF;
}

/* line 359, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox label {
  display: block;
  font-size: 18px;
  color: #151515;
  padding: 14px 10px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  transition: .4s;
  text-align: center;
}

/* line 371, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-add-system {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #6600CC;
  padding: 40px 0;
}

/* line 379, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-add-system span {
  cursor: pointer;
}

/* line 385, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-graph__price {
  display: block;
  margin-top: 10px;
  margin-bottom: 17px;
}

/* line 392, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price {
  position: relative;
  background-color: #151515;
  color: #FFF;
  padding-top: 72px;
  padding-bottom: 34px;
}

/* line 398, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price__not-infinity {
  display: flex;
  flex-wrap: wrap;
}

/* line 403, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price_infinity .advert-price__bg {
  opacity: 1;
}

/* line 407, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price__offset {
  margin-left: 66.66%;
}

/* line 410, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price__bg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.85);
  transition: .3s;
  opacity: 0;
  pointer-events: none;
}

/* line 425, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price__bg span {
  font-weight: bold;
  font-size: 28px;
}

/* line 430, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price__col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

/* line 434, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-price__price {
  padding-top: 7px;
}

/* line 439, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-top: 12px;
}

/* line 447, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox-block {
  position: relative;
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
  background-color: #f9f9f9;
}

/* line 453, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox-block input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 461, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox-block input ~ label {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}

/* line 468, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox-block input ~ label img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 2px;
}

/* line 476, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox-block input:checked ~ label {
  opacity: 1;
}

/* line 481, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-checkbox-block__text {
  font-size: 14px;
  font-family: 'Circe', sans-serif;
  line-height: 1.5;
  padding-left: 15px;
  flex: 1;
}

/* line 490, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability-title {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 495, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability {
  position: relative;
  padding: 10px 40px;
  line-height: 1.4;
  cursor: pointer;
  transition: .3s;
}

/* line 501, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability:hover {
  color: rgba(255, 255, 255, 0.77);
}

/* line 504, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* line 510, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability input ~ span::after, .advert-ability input ~ span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 27px;
  width: 27px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s;
  transform: translateY(-50%);
}

/* line 523, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability input ~ span::after {
  border: 1px solid #FFF;
}

/* line 526, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability input ~ span::before {
  background-image: url("../img/success-purple.svg");
  left: 2px;
  width: 23px;
  transform: translateY(-50%) scale(0);
}

/* line 535, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability input:checked ~ span::before {
  transform: translateY(-50%) scale(1);
}

/* line 545, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-ability_active input ~ span::after {
  opacity: 0;
}

/* line 553, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-button {
  position: relative;
  z-index: 3;
  width: 100%;
  text-align: center;
  margin-top: 46px;
}

/* line 559, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-button button {
  min-width: 30%;
  padding: 17px 30px;
  cursor: pointer;
  background-color: #56BB5A;
  color: #FFF;
  font-size: 20px;
  border: 0;
  box-shadow: 0 0 55px #549A57;
}

/* line 571, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-collection {
  margin-top: 50px;
}

/* line 573, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-collection:first-child {
  margin-top: 0;
}

/* line 578, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* line 582, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-inputs__col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding-right: 20px;
}

/* line 586, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-inputs__col:last-child {
  padding-right: 0;
}

/* line 590, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
.advert-inputs__col .bar::before, .advert-inputs__col .bar::after {
  background: #FFF;
}

@media (max-width: 1400px) {
  /* line 598, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-theme-block {
    flex: 2;
  }
  /* line 602, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-calc__text-col, .advert-calc__checkbox {
    flex: 0 0 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  /* line 611, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-checkbox {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }
  /* line 615, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-checkbox:nth-child(even) {
    padding-right: 0;
  }
  /* line 619, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-popup {
    width: 550px;
    padding: 26px 32px;
  }
  /* line 622, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-popup__title {
    margin-bottom: 15px;
  }
  /* line 625, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-popup__cont {
    padding: 15px 20px;
  }
  /* line 629, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-padding {
    padding-left: 34px;
    padding-right: 34px;
  }
  /* line 633, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-theme-block {
    padding-right: 60px;
  }
  /* line 636, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price {
    padding-top: 45px;
  }
  /* line 639, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
  }
  /* line 645, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col.advert-price__offset {
    margin-left: 50%;
    flex: 0 0 50%;
    width: 50%;
  }
  /* line 650, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col .advert-ability {
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* line 654, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col:nth-child(-n+3) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* line 657, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col:nth-child(-n+3) > * {
    flex: 0 0 100%;
    width: 100%;
  }
  /* line 662, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* line 665, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col:first-child .advert-calc__title {
    display: block;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  /* line 676, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-ability-title {
    margin-top: 30px;
  }
  /* line 679, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .heading-middle {
    font-size: 35px;
  }
  /* line 683, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-collection .advert-theme-block {
    flex: 0 0 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }
  /* line 689, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-add-system {
    padding-top: 20px;
  }
  /* line 692, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col .advert-ability {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* line 697, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-inputs__col {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  /* line 706, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-checkbox {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  /* line 711, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-price__not-infinity .advert-price__col.advert-price__offset {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* line 716, /Users/alexanderDev/Desktop/sites/matus/mkws/scss/index.scss */
  .advert-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=../css/index.map */